[submodule "CS3270"]
	path = CS3270
	url = git@github.com:AnthonyBahlWeber/CS3270.git
[submodule "CS3100"]
	path = CS3100
	url = git@github.com:AnthonyBahlWeber/CS3100.git
[submodule "CS3750_GroupProject"]
	path = CS3750_GroupProject
	url = git@github.com:AnthonyBahlWeber/CS3750_GroupProject.git
